body{
    background: white;
    
}

*{
    margin: 0;
    padding: 0;
}
.Login{
    margin-top: 0%;
    float:left;
    width: 50%;
    background-color: white;
}

.Login h1{
    color: #03a9f4;
    font-size: 30px;
    margin-left: 05px;
    margin-top:10px;
}

.Login #logo{
    width: 55px;
    height: 55px;
    margin-left: 0px;
    margin-top: 0px;
    
}
.MyWay{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 15px;
    margin-left: 15px;
}
.Login .titulo h2{
    color: #03a9f4;
    font-size: 30px;
    margin-left: 18%;
    margin-top: 2%;
}
.Login .titulo p{
    font-family: Helvetica;
    margin-left: 18%;
    font-size: 16px;
    margin-top: 1%;
    margin-right: 10%;
}
.Login .color{
    background-color:#51c9ff;
    border-radius: 5px;
    margin-left: 12%; 
    width: 75%;
    height: 22px;
    margin-top: 10px;
}
.Login label{
    position: relative;
    color: #03a9f4;
    font-size: 18px;
    margin-left: 12%; 
    margin-top: 10px;
}


.Register{

}